<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>  <div class="logo-container">
    <span class="material-icons-outlined logo-icon">event_available</span>
    <span class="app-title">ProEventIQ</span>
  </div>
  <span class="toolbar-spacer"></span>
  <!-- Add user profile and other top-right icons if needed -->
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" [opened]="true" class="sidenav" [ngClass]="{'expanded': isExpanded()}">
    <div class="menu-header" *ngIf="isExpanded()">
      <span>NAVIGATION</span>
    </div>
    
    <mat-nav-list><a mat-list-item routerLink="/home" routerLinkActive="active"
         [matTooltip]="!isExpanded() ? 'Home' : ''" 
         matTooltipPosition="right"
         [matTooltipDisabled]="isExpanded()">
        <div class="menu-item-content">
          <div class="menu-icon-container">
            <mat-icon>home</mat-icon>
          </div>
          <span class="menu-item-text" *ngIf="isExpanded()">Home</span>
        </div>
      </a>
      <a mat-list-item routerLink="/venues" routerLinkActive="active"
         [matTooltip]="!isExpanded() ? 'Venues' : ''" 
         matTooltipPosition="right"
         [matTooltipDisabled]="isExpanded()">
        <div class="menu-item-content">
          <div class="menu-icon-container">
            <mat-icon>stadium</mat-icon>
          </div>
          <span class="menu-item-text" *ngIf="isExpanded()">Venues</span>
        </div>
      </a>
      <a mat-list-item routerLink="/events" routerLinkActive="active"
         [matTooltip]="!isExpanded() ? 'Events' : ''" 
         matTooltipPosition="right"
         [matTooltipDisabled]="isExpanded()">
        <div class="menu-item-content">
          <div class="menu-icon-container">
            <mat-icon>event</mat-icon>
          </div>
          <span class="menu-item-text" *ngIf="isExpanded()">Events</span>
        </div>
      </a>
      <a mat-list-item routerLink="/statistics" routerLinkActive="active"
         [matTooltip]="!isExpanded() ? 'Statistics' : ''" 
         matTooltipPosition="right"
         [matTooltipDisabled]="isExpanded()">
        <div class="menu-item-content">
          <div class="menu-icon-container">
            <mat-icon>bar_chart</mat-icon>
          </div>
          <span class="menu-item-text" *ngIf="isExpanded()">Statistics</span>
        </div>
      </a>
      <!-- Add more menu items based on system requirements -->
    </mat-nav-list>  </mat-sidenav>

  <mat-sidenav-content [style.marginLeft.px]="isExpanded() ? 200 : 72">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>