# --- KONTROLERZY WERSJI I IDE ---
.git/
.gitignore
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# --- LOGI I ŚMIECI SYSTEMOWE ---
*.log
npm-debug.log
yarn-error.log

# --- BACKEND (Java / Maven) ---
# Ignorujemy skompilowane klasy i ciężki wrapper
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# --- FRONTEND (Angular / Node) ---
# To najważniejsza część: ignorujemy node_modules, ale NIE cały folder frontend
**/node_modules/
**/dist/
frontend/.tmp/

# --- PLIKI DOCKEROWE ---
# Nie ma sensu kopiować skryptów budujących do środka obrazu
**/Dockerfile
**/docker-compose.yml
**/.dockerignore