<!-- ...existing code from previous location will be moved here... -->
<div class="add-seat-dialog">
  <div class="dialog-header">
    <div class="dialog-icon">
      <mat-icon color="primary">event_seat</mat-icon>
    </div>
    <h2 mat-dialog-title class="dialog-title">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_SEAT.TITLE' | translate }}</h2>
  </div>
  
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="addSeatForm" class="add-seat-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_SEAT.ROW_LABEL' | translate }}</mat-label>
        <mat-select formControlName="selectedRowId" required>
          <mat-option *ngFor="let row of data.rows" [value]="row.seatRowId">
            {{ row.name || 'Row ' + row.orderNumber }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="addSeatForm.get('selectedRowId')?.hasError('required')">
          {{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_SEAT.ROW_REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_SEAT.COUNT_LABEL' | translate }}</mat-label>
        <input matInput 
               type="number" 
               formControlName="seatCount" 
               min="1" 
               max="50" 
               required>
        <mat-error *ngIf="addSeatForm.get('seatCount')?.hasError('required')">
          {{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_SEAT.COUNT_REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="addSeatForm.get('seatCount')?.hasError('min')">
          {{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_SEAT.MIN_SEATS' | translate }}
        </mat-error>
        <mat-error *ngIf="addSeatForm.get('seatCount')?.hasError('max')">
          {{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_SEAT.MAX_SEATS' | translate }}
        </mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions class="dialog-actions" align="end">
    <button mat-stroked-button 
            type="button" 
            (click)="onCancel()" 
            class="cancel-button">
      <mat-icon>close</mat-icon>
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    
    <button mat-raised-button 
            color="primary" 
            type="button" 
            (click)="onConfirm()" 
            [disabled]="addSeatForm.invalid"
            class="confirm-button">
      <mat-icon>add</mat-icon>
      {{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_SEAT.SUBMIT' | translate }}
    </button>
  </mat-dialog-actions>
</div>
