<div class="add-multiple-rows-dialog">
  <div class="dialog-header">
    <div class="dialog-icon">
      <mat-icon color="primary">view_headline</mat-icon>
    </div>
    <h2 mat-dialog-title class="dialog-title">Add Multiple Rows</h2>
  </div>
  
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="addRowsForm" class="add-rows-form add-row-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Number of Rows</mat-label>
        <input matInput type="number" formControlName="rowCount" min="1" max="50" required>
        <mat-error *ngIf="addRowsForm.get('rowCount')?.hasError('required')">Number of rows is required</mat-error>
        <mat-error *ngIf="addRowsForm.get('rowCount')?.hasError('min')">Minimum 1 row</mat-error>
        <mat-error *ngIf="addRowsForm.get('rowCount')?.hasError('max')">Maximum 50 rows</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Number of Seats in a Row</mat-label>
        <input matInput type="number" formControlName="seatCount" min="1" max="50" required>
        <mat-error *ngIf="addRowsForm.get('seatCount')?.hasError('required')">Seat count is required</mat-error>
        <mat-error *ngIf="addRowsForm.get('seatCount')?.hasError('min')">Minimum 1 seat</mat-error>
        <mat-error *ngIf="addRowsForm.get('seatCount')?.hasError('max')">Maximum 50 seats</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Seat Direction</mat-label>
        <mat-select formControlName="seatDirection" required>
          <mat-option value="LTR">Left to Right</mat-option>
          <mat-option value="RTL">Right to Left</mat-option>
        </mat-select>
        <mat-error *ngIf="addRowsForm.get('seatDirection')?.hasError('required')">Seat direction is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Row Direction</mat-label>
        <mat-select formControlName="rowDirection" required>
          <mat-option value="TTB">Top to Bottom</mat-option>
          <mat-option value="BTT">Bottom to Top</mat-option>
        </mat-select>
        <mat-error *ngIf="addRowsForm.get('rowDirection')?.hasError('required')">Row direction is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Row Naming</mat-label>
        <mat-select formControlName="rowNaming" required>
          <mat-option value="Roman">Roman Numerals (I, II, III...)</mat-option>
          <mat-option value="Arabic">Arabic Numerals (1, 2, 3...)</mat-option>
        </mat-select>
        <mat-error *ngIf="addRowsForm.get('rowNaming')?.hasError('required')">Row naming is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Row Spacing</mat-label>
        <input matInput type="number" formControlName="rowSpacing" min="0" step="20" required>
        <mat-error *ngIf="addRowsForm.get('rowSpacing')?.hasError('required')">Row spacing is required</mat-error>
        <mat-error *ngIf="addRowsForm.get('rowSpacing')?.hasError('min')">Minimum 0</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions class="dialog-actions" align="end">
    <button mat-stroked-button 
            type="button" 
            (click)="onCancel()" 
            class="cancel-button">
      <mat-icon>close</mat-icon>
      Cancel
    </button>
    
    <button mat-raised-button 
            color="primary" 
            type="button" 
            (click)="onConfirm()" 
            [disabled]="addRowsForm.invalid"
            class="confirm-button">
      <mat-icon>check</mat-icon>
      Add Rows
    </button>
  </mat-dialog-actions>
</div>
