<div class="add-multiple-rows-dialog">
  <div class="dialog-header">
    <div class="dialog-icon">
      <mat-icon color="primary">view_headline</mat-icon>
    </div>
    <h2 mat-dialog-title class="dialog-title">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.TITLE' | translate }}</h2>
  </div>
  
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="addRowsForm" class="add-rows-form add-row-form">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROW_COUNT_LABEL' | translate }}</mat-label>
        <input matInput type="number" formControlName="rowCount" min="1" max="50" required>
        <mat-error *ngIf="addRowsForm.get('rowCount')?.hasError('required')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROW_COUNT_REQUIRED' | translate }}</mat-error>
        <mat-error *ngIf="addRowsForm.get('rowCount')?.hasError('min')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.MIN_ROWS' | translate }}</mat-error>
        <mat-error *ngIf="addRowsForm.get('rowCount')?.hasError('max')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.MAX_ROWS' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.SEAT_COUNT_LABEL' | translate }}</mat-label>
        <input matInput type="number" formControlName="seatCount" min="1" max="50" required>
        <mat-error *ngIf="addRowsForm.get('seatCount')?.hasError('required')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.SEAT_COUNT_REQUIRED' | translate }}</mat-error>
        <mat-error *ngIf="addRowsForm.get('seatCount')?.hasError('min')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.MIN_SEATS' | translate }}</mat-error>
        <mat-error *ngIf="addRowsForm.get('seatCount')?.hasError('max')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.MAX_SEATS' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.DIRECTION_LABEL' | translate }}</mat-label>
        <mat-select formControlName="seatDirection" required>
          <mat-option value="LTR">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.LTR' | translate }}</mat-option>
          <mat-option value="RTL">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.RTL' | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="addRowsForm.get('seatDirection')?.hasError('required')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.DIRECTION_REQUIRED' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROW_DIRECTION_LABEL' | translate }}</mat-label>
        <mat-select formControlName="rowDirection" required>
          <mat-option value="TTB">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.TTB' | translate }}</mat-option>
          <mat-option value="BTT">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.BTT' | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="addRowsForm.get('rowDirection')?.hasError('required')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROW_DIRECTION_REQUIRED' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROW_NAMING_LABEL' | translate }}</mat-label>
        <mat-select formControlName="rowNaming" required>
          <mat-option value="Roman">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROMAN' | translate }}</mat-option>
          <mat-option value="Arabic">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ARABIC' | translate }}</mat-option>
        </mat-select>
        <mat-error *ngIf="addRowsForm.get('rowNaming')?.hasError('required')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROW_NAMING_REQUIRED' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROW_SPACING_LABEL' | translate }}</mat-label>
        <input matInput type="number" formControlName="rowSpacing" min="0" step="20" required>
        <mat-error *ngIf="addRowsForm.get('rowSpacing')?.hasError('required')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.ROW_SPACING_REQUIRED' | translate }}</mat-error>
        <mat-error *ngIf="addRowsForm.get('rowSpacing')?.hasError('min')">{{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.MIN_SPACING' | translate }}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions class="dialog-actions" align="end">
    <button mat-stroked-button 
            type="button" 
            (click)="onCancel()" 
            class="cancel-button">
      <mat-icon>close</mat-icon>
      {{ 'BUTTON.CANCEL' | translate }}
    </button>
    
    <button mat-raised-button 
            color="primary" 
            type="button" 
            (click)="onConfirm()" 
            [disabled]="addRowsForm.invalid"
            class="confirm-button">
      <mat-icon>check</mat-icon>
      {{ 'VENUES.SECTOR_EDIT.DIALOG.ADD_MULTIPLE_ROWS.SUBMIT' | translate }}
    </button>
  </mat-dialog-actions>
</div>
